/*-------------------------------------------Start Section---------------------------------------------*/
/*setting the default width of an element to include the padding and the border via the box-sizing property and border-box value*/
* {
  box-sizing: border-box;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*default body settings*/
body {
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  /*margin-top: -8px;*/
}

/*#about-page h3 { margin-top: 0;}*/
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/*setting images to full-width*/
img {
  width: 100%;
}

/*change the default link color to your primary color (copied from your comments at the top of the document)*/
a {
  color: #cd4279;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  text-decoration: none;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #000;
}

/*Pseudo classes for Accessibility for Across the Web*/
a:hover,
a:focus {
  text-decoration: none;
}

/*CSS code for the button class*/
.button {
  display: inline-block;
  background-color: #cd4279;
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 10px;
  margin: 0;
  border-radius: 3px;
  border-bottom: 2px solid #a35071;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.button:active {
  color: #fff;
}

/*button rules for the mailto button*/
.button.contact {
  background-color: transparent;
  color: #cd4279;
  text-transform: uppercase;
  border: 2px solid #cd4279;
  /*transition: 0.8s opacity;*/
}

/*button class hover and active state*/
.button.contact:hover {
  background-color: #cd4279;
  color: #fff;
}

/*
.button.contact:active {
  opacity: 0.8;
  background-color: green;
  color: #ffffff;
}
*/
/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*stye the page sections*/
/*style the <header> element*/
header {
  background-color: #fff0f9;
  /*text-align: center;*/
  padding: 10px 0 4px;
  position: fixed;
  box-shadow: 0 7px 5px 0 rgba(50, 50, 50, 0.75);
  width: 100%;
}

main {
  padding-top: 56px;
}

/*style the logo*/
/*
header .logo {
  max-width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}
*/
.logo {
  max-width: 150px;
}

/*Navigation Styling*/
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

nav > ul > li > a:hover {
  color: #cd4279;
}

nav > ul > li >a:active {
  color: #000;
}

#hero {
  background-color: #fff0f9;
  padding: 160px 0 40px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

#contact {
  text-align: center;
  background-color: #fff0f9;
  padding: 20px;
}

#work {
  background-color: #fff;
  padding: 30px 0 40px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

#skills {
  background-color: #fff;
  padding: 30px 0 40px;
  text-align: left;
  display: inline-block;
  width: 100%;
}

.navtoggle, {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 20px;
  padding-right: 10;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 20px;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*SVG anamation*/
.svg-animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*single line...
.sun {
  animation: 4s color-change infinite alternate linear;
}
*/
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*single line...
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
*/
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*Media Queries*/
/*clear page flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*float all columns left*/
[class*="col-"] {
  padding: 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  #hero {
    padding: 140px 0 40px;
  }

  body {
    font-size: 18px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .col-md-6 {
    width: 50%;
    float: left;
    padding-bottom: 40px;
  }

  .logo {
    max-width: 250px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  #hero {
    padding: 140px 0 40px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    max-width: 250px;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-7 {
    width: 60%;
    float: left;
    padding-bottom: 40px;
  }

  .col-lg-8 {
    width: 40%;
    float: right;
  }

  #about-page .col-md-6 {
    width: 100%;
  }
}
